[Unit]
Description=OpenStack Nova IPA Notification Service
After=syslog.target network.target

[Service]
TimeoutStartSec=0
Restart=always
User=novajoin
ExecStart=/usr/bin/novajoin-notify

[Install]
WantedBy=multi-user.target
